.main {
  padding: 0px 12px;
  max-width: 620px;
  margin: auto;
  
  

}

.menu {
  color: white;
  font-size: 20px;
  display: flex;
  padding: 0px 12px;
  max-width: 620px;
  margin: auto;
  justify-content: space-between;
}

